.titSect{
    text-align: center;
    background-color: #d39e00;
    border: 1px solid black;
}
.titSect h3{
    font-weight: bold;
}
.campRec{
    font-weight: bold;
    font-size: 1em;
    background-color: #bda048;
    border: 1px solid black;
}
.tamCamp{
    height: 45px;
}
.regSector{
    text-align: center;
    display: flex;
    justify-content: center;
}
.espacReduc{
    margin-top: 2%;
    width: 75%;
}
.espacReduc2{
    margin-top: 2%;
    width: 100%;
}
.btn-guard{
    text-align: center;
    padding-top: 2%;
}
#embedPdf{
    width: 600px;
    height: 34em;
}